# IDE files
/.vscode
/.cache
/_deps

# Build files
/build
/cmake-build-install
/lib
/third_party/iamf/include/iamf/commit_hash.h
/scripts/package_config.sh

# CTest
/Testing

# The wraptool_helper, which can not be checked in
/scripts/wraptool_helper.sh

.DS_Store

#Windows-specific ignores

#Build artefacts
cmake-build*/
[Bb]in/
obj/

#IDE Config
.vs/
.idea/
CMakeSettings.json

